<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>uid</key>
		<string>4</string>
		<key>order</key>
		<integer>0</integer>
		<key>order_title</key>
		<string>Spa1</string>
		<key>price</key>
		<real>10.99</real>
		<key>description_text</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>5</string>
		<key>order</key>
		<integer>1</integer>
		<key>order_title</key>
		<string>Spa2</string>
		<key>price</key>
		<real>8.550000000000001</real>
		<key>description_text</key>
		<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in orci at tortor tempor accumsan. Vestibulum tempor non justo eu lobortis. Phasellus auctor posuere nisi, sed aliquam enim consequat at. Nullam eu rhoncus massa. Nam feugiat orci ut ipsum auctor vestibulum. Nam quis scelerisque tortor, ut pharetra elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Nam non tincidunt nunc. Proin egestas dui et enim volutpat scelerisque. Integer non ex in urna rutrum feugiat. Mauris ex ligula, ultrices ut faucibus lobortis, semper pretium libero. Ut nec turpis pulvinar, pulvinar arcu in, ultrices ligula.

Ut eget urna sodales, dictum nulla nec, elementum diam. Nulla interdum at velit id pulvinar. Etiam consequat libero velit, eget molestie est faucibus nec. Maecenas purus nisl, luctus in auctor a, auctor a risus. Aenean nec sodales orci. In sed porta nunc, et sodales odio. Nam in diam lectus. Nullam faucibus et metus eget elementum. Suspendisse quam nunc, commodo nec rutrum non, egestas interdum orci. Aliquam maximus dictum arcu eget eleifend. Donec augue sapien, tincidunt vel blandit non, fringilla nec neque. Suspendisse non vehicula eros, tempus consectetur dolor. Etiam placerat aliquam nunc commodo ornare. Nam accumsan nisi et leo tincidunt, sed sollicitudin tellus tincidunt.

Etiam elementum gravida neque, at lacinia dui mattis vel. In iaculis pharetra sapien. Quisque iaculis neque volutpat aliquet porta. Maecenas tincidunt euismod est, eget semper nunc accumsan vitae. Nulla dignissim, est eu euismod congue, mi est pulvinar est, ac venenatis neque justo at nisl. Integer elementum elit non risus gravida feugiat. Nam sodales magna metus, nec efficitur nibh volutpat sit amet. Donec odio ligula, sollicitudin id nibh auctor, ultricies vulputate lectus. Suspendisse eget est id eros cursus hendrerit at vel sapien. Nunc a condimentum turpis. Nunc eget nulla ac odio ullamcorper dapibus quis vel magna. Cras urna nisl, efficitur nec sem non, maximus luctus nulla. Nam sed posuere est, in bibendum augue.

Quisque condimentum tellus velit, vitae pulvinar justo auctor ac. Praesent eu nunc tristique, maximus sapien sed, varius nisl. Ut sit amet magna sem. Proin ut blandit ante, a tincidunt sapien. Pellentesque convallis, justo vitae suscipit egestas, ipsum metus ultrices elit, malesuada mollis orci eros ac nulla. Suspendisse dui quam, viverra at ligula maximus, cursus efficitur mauris. Curabitur lobortis, urna ut auctor volutpat, lacus dolor rutrum est, luctus interdum diam libero at nulla. Vestibulum magna mi, maximus nec sem a, congue auctor magna. Donec eget diam volutpat, commodo odio sit amet, semper velit.

Mauris eu mollis ex. Integer pellentesque a lorem eleifend maximus. Vivamus eleifend at nulla quis feugiat. Nulla turpis felis, maximus ac nunc vitae, dignissim finibus enim. Mauris ac fringilla odio, id iaculis quam. Ut lobortis, justo in lobortis molestie, mi leo egestas est, at suscipit est quam a purus. Etiam quis leo dictum, pharetra dolor at, finibus urna. Mauris tincidunt purus nibh, at posuere ipsum commodo sed. Aliquam et nisl placerat, tempor est id, venenatis erat.

Ut venenatis lectus sed mauris tempus, in egestas ex venenatis. Nulla ac tortor tempus nunc hendrerit dictum. Vestibulum tincidunt turpis non massa ullamcorper, nec feugiat ligula imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi et neque nibh. Pellentesque cursus purus at gravida pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus et ipsum vel nunc imperdiet maximus. In hac habitasse platea dictumst. Phasellus malesuada auctor quam et suscipit. Sed vestibulum efficitur consectetur. Integer in est sed nisl convallis efficitur at et nibh. Donec gravida tellus nec quam porttitor elementum. Sed pharetra pulvinar nulla, vitae lobortis leo. Integer malesuada leo nisi, ac varius ante vulputate ac.

Praesent quis sagittis dolor, vel luctus nulla. Quisque id libero ac augue feugiat bibendum at et nibh. Maecenas id lacus arcu. Mauris aliquet neque diam, a facilisis leo consequat et. Fusce faucibus mi ante, blandit vulputate sapien aliquam non. Duis volutpat leo non mattis pharetra. Cras elementum felis nisl, et vulputate risus varius non.

Proin eu nisl semper, rutrum neque nec, porttitor metus. Cras ac sollicitudin odio. Donec nec diam varius, auctor turpis eu, bibendum justo. Nam molestie velit diam, vitae pharetra erat gravida nec. Vestibulum porttitor arcu risus, sed imperdiet felis hendrerit id. Ut eu felis magna. Curabitur venenatis vulputate velit, ut efficitur neque lobortis ac. Nam ornare, odio sed rutrum pulvinar, ex nibh dictum lorem, sollicitudin feugiat est augue sed massa. Mauris convallis dictum ex quis sagittis. Duis accumsan purus nec dui semper facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a leo in erat malesuada faucibus. Nam posuere iaculis imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Suspendisse ut pulvinar quam. Vestibulum sit amet mi lacinia, auctor eros in, pulvinar nunc. Nam volutpat bibendum diam eget lobortis. Sed convallis congue dui ac rhoncus. Nullam a dui quam. Donec ac nisi a felis pretium auctor. Pellentesque ac lorem mauris. Suspendisse ullamcorper sit amet velit id tempus. Quisque vel sodales turpis. Praesent cursus purus at convallis pharetra.

Proin consectetur arcu a iaculis mattis. Praesent nec ligula turpis. Suspendisse id finibus dui, in ultrices velit. Sed rhoncus semper blandit. Nunc lobortis sapien tempus dolor imperdiet dapibus. Maecenas quis tellus rhoncus, bibendum urna mattis, tincidunt tellus. Pellentesque ultrices efficitur ante quis porta. Curabitur venenatis venenatis dui, a laoreet nulla ultricies et. Cras bibendum pretium dolor. Mauris quis felis nibh. Nullam fermentum, justo nec ullamcorper tempus, dolor diam feugiat tellus, nec faucibus purus tellus at ex. In eleifend consequat quam, ac tincidunt metus dapibus ut. Curabitur eleifend pellentesque semper. Aenean fringilla placerat libero, sed egestas urna malesuada eget. Proin ut felis ac turpis egestas rutrum.</string>
	</dict>
	<dict>
		<key>uid</key>
		<string>6</string>
		<key>order</key>
		<integer>2</integer>
		<key>order_title</key>
		<string>Spa3</string>
		<key>price</key>
		<real>5.99</real>
		<key>description_text</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</string>
	</dict>
</array>
</plist>
